* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 900;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

button {
    padding: 10px;
    border-radius: 15px;
    border: transparent;
    background: transparent;
}

button:hover {
    background-color: white;
    cursor: pointer;
}

.primary-button {
    background-color: #4B6C85;
    color: white;
    text-decoration: none;
}

.primary-button:hover {
    background-color: #3c5669;
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}